form {
    width: 284px;
    /* height: 413px; */
    background: #c7c2c2;
    text-align:  center;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

input[type="text"] {
    width: 200px;
    padding:  8px;
    margin-bottom: 10px;
    font-size: 20px
}

.common {
    width:  50px;
    padding:  10px;
    font-size: 20px
}